<h1><%= @user.user_name %>さんが登録したトイレ情報一覧</h1>
<section class="page-flame">
  <div class="page-control center">
    <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize_to_limit: [65, 65]), class: "image-display" %>
    <% else %>
      <%= image_tag 'default_image.png', class:'image-display' %>
    <% end %>
  </div>
  <table class="page-control center">
    <thead>
      <tr>
        <th>トイレ名称</th>
        <th>利用可能時間</th>
        <th>登録年月</th>
      </tr>
    </thead>
    <tbody>
      <% @toilets.each do |toilet| %>
        <% if toilet.user_id == @user.id %>
          <tr>
            <td><%= link_to toilet.toilet_name, toilet %></td>
            <td>
              <span>
                <%= toilet.open_time.strftime( "%H:%M" ) %>-<%= toilet.close_time.strftime( "%H:%M" ) %>
              </span>
            </td>
            <td><%= toilet.created_at.strftime("%Y年%-m月%-d日") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
<p class="page-control center"><%= link_to 'トップへ戻る', root_path, :class => 'btn-control blue' %></p>
