<div id="header">
  <div class="header upper">
    <div class="header upper left">ここにタイトル(画像ロゴ)<br><a href="/">トップページ</a></div>
    <div class="header upper right">
      <% if user_signed_in? %>
        <p>
          ようこそ！<%= current_user.user_name %>さん
          <br>
          <%= link_to 'ログアウト', '/users/sign_out/', method: :delete %>
        </p>
      <% else %>
        <p>
          <%= link_to 'ログイン', '/users/sign_in/', class:'btn-sign_in' %>
          <%= link_to '新規登録', '/users/sign_up/', class:'btn-sign_up' %>
        </p>

      <% end %>
    </div>
  </div>
  <div class="header lower">
    <div class="header lower menu">
      <p><%= link_to 'トイレ情報の登録', '/toilets/new/' %></p>
    </div>
    <div class="header lower menu">
      <p><%= link_to '登録済トイレ一覧', '/toilets/posts/' %></p>
    </div>
    <div class="header lower menu">
      <p><%= link_to '設定', '/users/account/' %></p>
    </div>
    <div class="header lower menu">
      <p>項目４</p>
    </div>
    <div class="header lower menu">
      <p>項目５</p>
    </div>
  </div>
</div>
