<div class="header-base">
  <div class="header">
    <div class="header left">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', class: 'image-logo' %>
      <% end %>
    </div>
    <div class="header right">
      <% if user_signed_in? %>
        <div class="header right name">
          <p>
            ようこそ！<br>
            <%= current_user.user_name %>さん<br>
            <%= link_to 'ログアウト', '/users/sign_out/', method: :delete %>
          </p>
        </div>
        <div class="header right icon">
          <% if current_user.image.attached? %>
            <%= link_to mypage_users_path do %>
              <%= image_tag current_user.image.variant(resize_to_limit: [65, 65]), class: 'image-display' %>
            <% end %>
          <% else %>
            <%= link_to mypage_users_path do %>
              <%= image_tag 'default_image.png', class: 'image-display' %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="header right name">
          <p>
            <%= link_to 'ログイン', '/users/sign_in/' %><br />
            <%= link_to '新規ユーザー登録', '/users/sign_up/' %><br />
            <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, id: 'btn-guest', method: :post %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="blank"></div>
