<p id="notice"><%= notice %></p>
<section class="index-flame">
  <div class="overview">
    <div class="overview title">What's TOILExiT?</div>
    <hr>
    初めて訪れる土地で急に<br>
    <b>「トイレはどこ？」</b>と、<br>
    焦ったことはありませんか？
    <div class="line-space"></div>
    そんなピンチを助けてくれる<br>
    サービスがあったら良いなと思い、<br>
    このTOILExiTを制作しました。
    <div class="line-space"></div>
    いざという時のトイレ情報、<br>
    一緒に共有しませんか？
  </div>
</section>
<section class="page-flame">
  <p class="info-label orange">最近登録されたトイレ情報</p>
  <hr>
  <table class="page-control center">
    <thead>
      <tr>
        <th>登録年月</th>
        <th>トイレ名称</th>
        <th>利用可能時間</th>
      </tr>
    </thead>
    <tbody>
      <% @toilets.each do |toilet| %>
        <tr>
          <td><%= toilet.created_at.strftime("%Y年%-m月%-d日") %></td>
          <td>
            <% if user_signed_in? %>
              <%= link_to toilet.toilet_name, toilet %>
            <% else %>
              <%= toilet.toilet_name %>
            <% end %>
          </td>
          <td>
            <span>
              <%= toilet.open_time.strftime("%H:%M") %>-<%= toilet.close_time.strftime("%H:%M") %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% unless user_signed_in? %>
    <p class="warning-messeage">※ユーザー登録をすると詳細情報が見られます！！</p>
    <p class="page-control center"><%= link_to '新規ユーザー登録', '/users/sign_up/', :class => 'btn-control orange' %></p>
  <% end %>
  <div class="line-space"></div>
  <hr>
  <div class="line-space"></div>
  <div class="info-label orange">トイレ情報マップ</div>
  <div class="line-space"></div>
  <div id='map_index'></div>
  <div class="line-space"></div>
  <% if user_signed_in? %>
    <p class="page-control center"><%= link_to 'トイレ情報の登録', '/toilets/new/', :class => 'btn-control orange' %></p>
  <% end %>
</section>

<!-- 以下、GooglemapAPIテスト記述 -->
<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map_index'), {
    center: { lat: 35.681, lng: 139.767 },  //地図の中心点
    zoom: 12,                               //ズームレベル
    mapTypeControl: false,                  //地図タイプ選択(地図or航空写真)の無効化
    streetViewControl: false,               //ストリートビュー切り替えの無効化
    fullscreenControl: false                //全画面表示の無効化
  });
  // 複数マーカーの作成
  <% @toilets.each do |toilet| %>
  (function() {
    let marker = new google.maps.Marker({
      position: {lat: <%= toilet.latitude %>, lng: <%= toilet.longtitude %>},
      map: map,
    });
    // マーカーをクリックした時に吹き出しを表示する
    let infoWindow = new google.maps.InfoWindow({
      content: '<%= link_to toilet.toilet_name, toilet, :class => 'balloon toilet-name' %><p class="balloon">営業時間:<%= toilet.open_time.strftime( "%H:%M" ) %>-<%= toilet.close_time.strftime( "%H:%M" ) %></p>'
    });
    marker.addListener('click', () => {
      infoWindow.open(map, marker);
    });
  })();
  <% end %>
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgk50-Uh4K60ddzGNY5yOcfx4clQMNYNU&callback=initMap" async defer></script>
