<p id="notice"><%= notice %></p>
<h1><%= @toilet.toilet_name %></h1>
<div class="right">
  <strong>登録者</strong>
  <%= @user.user_name %>
  <strong>登録日</strong>
  <%= @toilet.created_at.strftime("%Y年%-m月%-d日") %>
</div>
<div class="page-flame">
  <div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
  <table class="toilet-table">
    <tr>
      <td class="item men-label">男性用</td>
      <td class="item"></td>
      <td class="item women-label">女性用</td>
    </tr>
    <tr>
      <td class="item men"><%= @toilet.m_urinal %></td>
      <td class="item">小便器</td>
      <td class="item women">-</td>
    </tr>
    <tr>
      <td class="item men"><%= @toilet.m_room %></td>
      <td class="item">個室</td>
      <td class="item women"><%= @toilet.w_room %></td>
    </tr>
    <tr>
      <td class="item men">
        <% if @toilet.m_washlet == true %>
        ○
        <% elsif @toilet.m_room == nil %>
        ?
        <% else %>
        ×
        <% end %>
      </td>
      <td class="item">ウォシュレット</td>
      <td class="item women">
        <% if @toilet.w_washlet == true %>
        ○
        <% elsif @toilet.w_room == nil %>
        ?
        <% else %>
        ×
        <% end %>
      </td>
    </tr>
  </table>
  <table class="toilet-table">
    <tr>
      <td class="item">多目的トイレ</td>
      <td class="item white">
        <% if @toilet.multipurpose == true %>
        ○
        <% else %>
        ×
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="item">使用可能時間</td>
      <td class="item white">
        <%= @toilet.open_time.strftime( "%H:%M" ) %>-<%= @toilet.close_time.strftime( "%H:%M" ) %>
      </td>
    </tr>
    <tr>
      <td class="item">備考</td>
      <td class="item white">
        <%= @toilet.remark %>
      </td>
    </tr>
  </table>
  <% if current_user.id == @user.id %>
    <div class="actions">
      <%= link_to '編集する', edit_toilet_path(@toilet), :class => 'btn-control orange' %>
    </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>


<p>
  <strong>取得した経度と緯度</strong>
  <%= @toilet.latitude %>
  <%= @toilet.longtitude %>
</p>

<input type="hidden" id="xyz" value="<%= @latlng %>">

<!-- 以下、GoogleMAP API部分 -->
<script>
  let map;
  const latitude = gon.latitude;
  const longtitude = gon.longtitude;
  function initMap() {
    let myLatlng = new google.maps.LatLng(latitude, longtitude);
    //インスタンスを作成
    map = new google.maps.Map(document.getElementById('map'), {
      //地図のオプション
      //初期のズームレベル
      zoom: 16,
      //地図の中心点
      center: myLatlng
    });
    //マーカーの初期プロパティを指定
    marker = new google.maps.Marker({
      position: myLatlng,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgk50-Uh4K60ddzGNY5yOcfx4clQMNYNU&callback=initMap" async defer></script>
