<p id="notice"><%= notice %></p>


<div class="form-flame">
  <div class="field">
    <strong>トイレ名称</strong>
    <%= @toilet.toilet_name %>
  </div>

  <div class="field">
    <strong>多目的トイレ</strong>
    <%= @toilet.multipurpose %>
  </div>

  <div class="field">
    <strong>小便器</strong>
    <%= @toilet.m_urinal %>
  </div>

  <div class="field">
    <strong>個室</strong>
    <%= @toilet.m_room %>
  </div>

  <div class="field">
    <strong>ウォシュレット</strong>
    <%= @toilet.m_washlet %>
  </div>

  <div class="field">
    <strong>個室</strong>
    <%= @toilet.w_room %>
  </div>

  <div class="field">
    <strong>ウォシュレット</strong>
    <%= @toilet.w_washlet %>
  </div>

  <div class="field">
    <strong>使用可能時間</strong>
    <%= @toilet.open_time.strftime( "%H:%M" ) %>-<%= @toilet.close_time.strftime( "%H:%M" ) %>
  </div>

  <div class="field">
    <strong>備考</strong>
    <%= @toilet.remark %>
  </div>
</div>


<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>


<p>
  <strong>取得した経度と緯度</strong>
  <%= @toilet.latitude %>
  <%= @toilet.longtitude %>
</p>


<input type="hidden" id="xyz" value="<%= @latlng %>">

<!-- 以下、GoogleMAP API部分 -->
<style>
/* マップを表示する div 要素の高さを必ず明示的に指定します。 */
#map {
  height: 400px;
  width: 600px;
}
</style>

<div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->

<script>
let map;
const latitude = gon.latitude;
const longtitude = gon.longtitude;
function initMap() {
  let myLatlng = new google.maps.LatLng(latitude, longtitude);
  //インスタンスを作成
  map = new google.maps.Map(document.getElementById('map'), {
    //地図のオプション
    //初期のズームレベル
    zoom: 17,
    //地図の中心点
    center: myLatlng
  });
  //マーカーの初期プロパティを指定
  marker = new google.maps.Marker({
    position: myLatlng,
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgk50-Uh4K60ddzGNY5yOcfx4clQMNYNU&callback=initMap" async defer></script>
